body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 1rem;
}

#lista-produtos li {
    background-color: #fff;
    margin: 0.5rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lista-produtos button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

#lista-produtos button:hover {
    background-color: #ff1a1a;
}

.produtos-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
}

.produto {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    flex: 0 0 auto; /* Prevent flex items from shrinking or growing */
}

.produto:hover {
    transform: scale(1.05);
}

.produto img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
}

.produto p {
    margin: 0.5rem 0;
}

.produto button {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.produto button:hover {
    background-color: #555;
}
